html {
  /*BOX SHADOWS*/
  --box-shadow-default: 0px 2px 3px 0px hsla(0, 0%, 20%, 0.2);
  --box-shadow-primary: 0px 2px 3px 0px hsla(224, 100%, 58%, 0.2);
  --box-shadow-secondary: 0px 2px 3px 0px hsla(199, 18%, 33%, 0.2);
  --box-shadow-danger: 0px 2px 3px 0px hsla(0, 65%, 51%, 0.2);

  /*COLORS*/
  --color-default: hsla(0, 0%, 25%, 1);
  --color-primary: hsla(0, 0%, 100%, 1);
  --color-secondary: hsla(0, 0%, 100%, 1);
  --color-danger: hsla(0, 0%, 100%, 1);

  /* BG COLORS*/
  --color-bg-default: hsla(0, 0%, 88%, 1);
  --color-bg-primary: hsla(224, 100%, 58%, 1);
  --color-bg-secondary: hsla(199, 18%, 33%, 1);
  --color-bg-danger: hsla(0, 65%, 51%, 1);

  /*BG Hover COLORS*/
  --color-bg-hover-default: hsla(0, 0%, 68%, 1);
  --color-bg-hover-primary: hsla(223, 100%, 40%, 1);
  --color-bg-hover-secondary: hsla(198, 35%, 17%, 1);
  --color-bg-hover-danger: hsla(357, 100%, 30%, 1);

  /*BG Light Hover COLORS*/
  --color-bg-hover-light-default: hsla(0, 0%, 68%, 0.4);
  --color-bg-hover-light-primary: hsla(224, 100%, 58%, 0.1);
  --color-bg-hover-light-secondary: hsla(198, 18%, 33%, 0.2);
  --color-bg-hover-light-danger: hsla(0, 65%, 51%, 0.2);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border: none;
  font-weight: 500;
  border-radius: 6px;
  padding: 8px 16px;
}

/*******************************  BUTTON TYPES **************************/
.defaultType {
  background-color: var(--color-bg-default);
  color: var(--color-default);
  box-shadow: var(--box-shadow-default);
}
.defaultType:hover,
.defaultType:focus {
  background-color: var(--color-bg-hover-default);
}

.outline {
  background-color: transparent;
  border: 1px solid hsla(231, 99%, 62%, 1);
  color: hsla(231, 99%, 62%, 1);
  box-shadow: none;
}
.outline:hover,
.outline:focus {
  background-color: hsla(224, 100%, 58%, 0.1);
}
.defaultType:disabled,
.outline:disabled {
  color: hsla(0, 0%, 62%, 1);
  background-color: hsla(0, 0%, 88%, 1);
  box-shadow: none;
}
.text {
  border: none;
  background-color: transparent;
  color: hsla(231, 99%, 62%, 1);
  box-shadow: none;
  box-shadow: none;
}
.text:hover,
.text:focus {
  background-color: hsla(224, 100%, 58%, 0.1);
}
.text:disabled {
  color: hsla(0, 0%, 62%, 1);
  pointer-events: none;
}
.disableShadow {
  box-shadow: none;
}
.sm {
  padding: 6px 12px;
}
.md {
  padding: 8px 16px;
}
.lg {
  padding: 11px 22px;
}

/* BTN COLORS for `defaultType` variant */
.default {
  background-color: var(--color-bg-default);
  color: var(--color-default);
  box-shadow: var(--box-shadow-default);
}
.default:hover,
.default:focus {
  background-color: var(--color-bg-hover-default);
}

.primary {
  color: var(--color-primary);
  background-color: var(--color-bg-primary);
  box-shadow: var(--box-shadow-primary);
}
.primary:hover,
.primary:focus {
  background-color: var(--color-bg-hover-primary);
}

.secondary {
  background-color: var(--color-bg-secondary);
  color: var(--color-secondary);
  box-shadow: var(--box-shadow-secondary);
}
.secondary:hover,
.secondary:focus {
  background-color: var(--color-bg-hover-secondary);
}

.danger {
  background-color: var(--color-bg-danger);
  color: var(--color-danger);
  box-shadow: var(--box-shadow-danger);
}
.danger:hover,
.danger:focus {
  background-color: var(--color-bg-hover-danger);
}

/*******************/
.outline-default {
  border: 1px solid var(--color-default);
  color: var(--color-default);
}
.outline-default:hover {
  background-color: var(--color-bg-hover-light-default);
}

.outline-primary {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
.outline-primary:hover {
  background-color: var(--color-bg-hover-light-primary);
}

.outline-secondary {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}
.outline-secondary:hover {
  background-color: var(--color-bg-hover-light-secondary);
}

.outline-danger {
  border: 1px solid var(--color-bg-danger);
  color: var(--color-bg-danger);
}
.outline-danger:hover {
  background-color: var(--color-bg-hover-light-danger);
}
/***************************************/

.text-default {
  color: var(--color-default);
}
.text-default:hover {
  background-color: var(--color-bg-hover-light-default);
}
.text-primary {
  color: var(--color-bg-primary);
}
.text-primary:hover {
  background-color: var(--color-bg-hover-light-primary);
}
.text-secondary {
  color: var(--color-bg-secondary);
}
.text-secondary:hover {
  background-color: var(--color-bg-hover-light-secondary);
}
.text-danger {
  color: var(--color-bg-danger);
}
.text-danger:hover {
  background-color: var(--color-bg-hover-light-danger);
}
